<div class="d-flex menu">
    <ul>
        <li>
            <a role="menuitem" (click)="OnLinkClicked('dashboard')">
                <i class="pi pi-fw pi-chart-bar" ></i>
                Dashboard
            </a>
        </li>
        <li>
            <a role="menuitem" (click)="OnLinkClicked('projects')">
                <i class="pi pi-fw pi-folder-open" ></i>
                Projects
            </a>
        </li>
        <li>
            <a role="menuitem" (click)="OnLinkClicked('calendar')">
                <i class="pi pi-fw pi-calendar" ></i>
                Calendar
            </a>
        </li>
        <li class="separator">
            <a role="menuitem" (click)="OnLinkClicked('settings')">
                <i class="pi pi-fw pi-cog" ></i>
                Settings
            </a>
        </li>
        <li class="last">
            <a role="menuitem" (click)="OnLinkClicked('logout')">
                <i class="pi pi-fw pi-sign-out" ></i>
                Log out
            </a>
        </li>
    </ul>
</div>
<div class=""></div>