.p-card {
    &.p-component {
            margin-bottom: 1rem;
    }

    .p-card-content {
        padding: 0 !important;
    }

    .p-card-header {
        font-weight: bold;
        display: flex;
    }
    
    .p-card-body {
        padding-top: 0.25rem;
    }
}